.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-container{
  background-color: #282c34;
  padding: 30px 100px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.nav-container nav ul{
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-container nav ul li{
  margin-right: 20px;
  font-size: 18px;
}
.nav-container nav ul li:last-child{
  margin-right: 0;
}
.nav-container nav ul li a{
  color: #fff;
  text-decoration: none;
}
.products nav ul{
  display: flex;
  list-style: none;
  padding-left: 100px;
  padding-top: 20px;
}
.products nav ul li{
  margin-left: 20px;
}
.products nav ul li:first-child{
  margin-left: 0;
}
.products nav ul li a{
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 20px;
}